#other-page ::placeholder {
  color:#545454;
  font-size: 12px;
}

#other-page h1, #other-page h3 {
  color: #545454;
  font-weight: bold;
  font-size: 100px;
}

#other-page h3 {
  padding: 40px 0;
  font-size: 20px;
}

#other-page {
  background: #F6F6F6;
}

#other-page .page-wrap {
  margin: 0 auto;
  margin-top: 180px;
  width: 100%;
  height: 434px;
  text-align: center;
}

.found {
  position: relative;
  margin-bottom: 60px;
}

#other-page .found input {
  border: 1px solid #545454;
  border-radius: 0;
  padding-left: 15px;
  width: 90%;
  height: 30px;
  font-size: 14px;
}

.found .search-page {
  position: absolute;
  right: 6%;
  top: 20%;
  font-size: 12px;
  text-decoration: none;
}

#other-page .search-page i {
  color: #767676;
}

#other-page .icon-home {
  font-size: 20px;
  color: #545454;
  font-weight: bold;
}

@media (min-width: 576px) {
  #other-page .page-wrap {
    width: 50%;
  }

  #other-page .found input {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #other-page .page-wrap {
    width: 35.4%;
  }
}