/* categoty-dropdown */

.dropdown {
  position: unset;
}

.dropdown a {
  font-size: 12px;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  background: unset;
  border: none;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background: unset;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown .btn {
  padding: 0;
  vertical-align: unset;
}

.icon-menu:before {
  margin-right: 0;
}

.nav.small.dark-gray .icon-right-open-mini {
  padding: 0;
}

/* artical */

.date-block {
  padding: 1%;
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

.date-block.dark {
  background: #919191;
  color: #fff;
}

body#blog {
  color: #494949;
}

#blog a, #blog-category a {
  color: #696969;
}

#header ul.small-nav  .shopping-cart {
  float: left;
}

ul.small-nav li {
  padding: 0 5px;
}

ul.small-nav li.host {
  font-size: 16px;
  line-height: 32px;
}

#about-us.blog {
  margin-bottom: 48px;
}

#about-us.blog h1.title {
  font-weight: bold;
  font-size: 17px;
}

.nav.small.dark-gray {
  position: relative;
  height: 46px;
  background: #eee;
  font-size: 12px;
}

.nav.small.dark-gray .row {
  justify-content: space-between;
}

.nav.small.dark-gray li {
  padding: 0 6px;
}

.nav.small.dark-gray li, .icon-th {
  padding: 0 6px;
}

.nav.small.dark-gray .nav-item.middle {
  order: -1;
}

.nav.small li, .icon-th {
  line-height: 46px;
}

/* img-big */

#img-big .wrap {
  margin: 0 -15px;
  height: 570px;
  background-image: url('https://via.placeholder.com/1200x570/F8F8F8');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#img-big .wrap {
  position: relative;
}

#img-big .date-block {
  position: absolute;
  top: 6%;
  left: 3%;
}

#img-big .nav.small {
  position: absolute;
  top: 9%;
  right: 6%;
}

/* content */

.container.content {
  position: relative;
  margin-top: -120px;
  padding-left: 10px;
  padding-right: 10px;
  width: 85%;
  background: #fff;
}

.content-header {
  padding-top: 66px;
  padding-bottom: 33px;
  background: #fff;
}

.content-header i {
  padding-right: 5px;
}

.content-header h2.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.content-nav {
  margin-top: 15px;
}

.content-nav li {
  padding-right: 10px;
}

/* paragraph */

.paragraph {
  margin-bottom: 62px;
}

.paragraph p {
  margin-bottom: 30px;
}

.paragraph p.big-space {
  margin-bottom: 60px;
}

/* board */
.blog-board {
  margin-bottom: 60px;
}

.blog-board .img-top {
  margin-bottom: 30px;
}

.blog-board .img-group {
  margin-bottom: 30px;
}

.img-group img {
  opacity: 0.3;
  transition: opacity 1s linear;
}

.img-group img.fade {
  opacity: 1;
}

/* paragraph-last */
.paragraph-last {
  margin-bottom: 90px;
}

.paragraph-last p {
  margin-bottom: 30px;
}

.author, .message-wall, .leave-comment {
  margin-bottom: 60px;
}

.author .row {
  padding: 5%;
}

.author .name {
  font-size: 14px;
}

.author .intro {
  padding: 12px 0;
  font-size: 12px;
}

.author .social-media {
  padding: 0;
  float: left;
}

.author .social-media li {
  padding: 0;
  padding-right: 10px;
  font-size: 14px;
}

/* message wall */
.message-wall h2.title {
  position: relative;
  margin-bottom: 70px;
  font-size: 24px;
  font-weight: bold;
}

.message-wall h2.title:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 3px;
  width: 82px;
  background: black;
}  

.user-comments .row.stage {
  margin: 0;
  padding-left: 90px;
}

.user-comments .col-10 {
  padding-left: 0;
}

.user-comments .col-2 {
  padding-right: 5px;
}

.user-comments .user-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}

.user-comments .write-date {
  font-size: 12px;
}

.user-comments .comment {
  padding-top: 24px;
  padding-bottom: 45px;
}

/* form */
.leave-comment h2.title {
  margin-bottom: 45px;
  font-size: 24px;
  font-weight: bold;
}

input.no-border, textarea.no-border {
  border-radius: unset;   
  border: none;
  margin-bottom: 20px;
  background: #F7F7F7;
}

#blog .leave-comment button {
  width: 100%;
  height: 40px;
  font-size: 10px;
  border: unset;
  background: #F7F7F7;
}

#footer.bottom.center .container {
  display: block;
}

@media (min-width: 420px) {
  .container.content {
    width: 67%;
  }
}

@media (min-width: 576px) {
  .nav.small.dark-gray .container {
    padding: 0;
  }

  .nav.small.dark-gray li {
    padding: 0 15px;
  }
  
  .nav.small.dark-gray .nav-item.middle {
    order: 0;
  }
}

@media (min-width: 768px) {
  .content-header h2.title {
    font-size: 28px;
  }

  .date-block {
    padding: 16px;
    width: 80px;
    height: 80px;
  }

  #blog #footer .footer-item, 
  #blog-category #footer .footer-item, 
  #contact #footer .footer-item
  {
    text-align: left;
  }

  #footer .desc.center {
    text-align: right;
  }

  #footer.small-width {
    width: 85%;
    margin: 0 auto;
    padding: 0 7%;
  }
}

@media (min-width: 992px) {
  ul.small-nav li.host {
    padding-left: 0;
  }

  .nav.small li, .icon-th {
    padding: 0 15px;
  }

  .nav.small.dark-gray, .dropdown a {
    font-size: 14px;
  }

  #about-us.blog h1.title {
    font-size: 33px;
  }

  #img-big .date {
    width: 80px;
    height: 80px;
  }

  .container.content {
    max-width: 1000px;
  }

  .content-nav.small {
    font-size: 100%;
  }

  .paragraph p, .paragraph-last p, .user-comments p {
    font-size: 14px;
  }

  .blog-board {
    margin-bottom: 120px;
  }

  .blog-board .img-group {
    margin-bottom: 0;
  }

  .paragraph-last {
    margin-bottom: 190px;
  }

  .container.content {
    width: 70%;
    padding-left: 55px;
    padding-right: 55px;
  }

  .author, .message-wall, .leave-comment {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 80%;
  }

  .author .name {
    font-size: 18px;
  }
  
  .author .intro {
    font-size: 14px;
  }

  .user-comments .col-10 {
    padding-left: 15px;
  }
  
  .user-comments .col-2 {
    padding-right: 15px;
  }

  .user-comments .row.stage {
    margin-top: 50px;
  }

  #footer .desc.center {
    margin-top: 0;
    text-align: right;
  }

}



