.sofa {
  background-image: url("../images/contact/sofa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact .container {
  background: rgba(255, 255, 255, .4);
}

#header.small .navbar-nav li {
  padding: 10px 10px;
}

/* content */
#contact-info {
  padding: 70px 0;
}

#contact-info .detail {
  text-align: center;
}

#contact-info .desc {
  margin-bottom: 30px;
}

#contact-info .desc .title {
  font-size: 22px;
}

#contact-info .desc p {
  letter-spacing: 1px;
}

#contact-info .title {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #383838;
}

#contact-info  p, #contact-info  a {
  color: #343434;
  font-size: 13px;
}

#contact-info .question {
  margin-top: 40px;
  text-align: center;
}

#contact-info .question .title {
  font-size: 15px;
}

input {
  border: 2px solid #C0C0C0;
  border-radius: 20px;
  margin-bottom: 7px;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  font-size: 10px;
}

textarea {
  border: 2px solid #C0C0C0;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  height: 90px;
  font-size: 10px;
}

#contact .button {
  display: inline-block;
  border-radius: 20px;
  width: 74px;
  height: 40px;
  background: #383838;
  color: #fff;
  font-size: 10px;
}

/* Map */
#map {
  position: relative;
  height: 150px;
}

#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* footer */
#contact .footer-info h5.title {
  margin-bottom: 10px;
}

#footer .desc.center {
  margin-top: 30px;
}

#footer .desc.center img {
  display: inline-block;
}

#contact #footer .address {
  margin-bottom: 0;
}

#contact #footer .contact-info {
  margin-top: 20px;
  line-height: 2;
  font-size: 14px;
}

#contact #footer .desc {
  text-align: center;
}

#contact #footer.bottom {
  padding-bottom: 100px;
  text-align: center;
}

#footer.bottom.center span {
  margin-left: auto;
  font-size: 11px;
  color: #8F8F8F;
}

@media (min-width: 768px) {
  #contact-info {
    text-align: center;
  }

  #contact-info .desc {
    margin-bottom: 35px;
  }

  #contact-info .contact-detail {
    margin-bottom: 30px;
  }

  #contact #footer.bottom {
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  
  #contact-info .question {
    margin-top: 0;
    padding-left: 10%;
  }

  #contact-info .detail, #contact-info .question {
    text-align: left;
  }

  #contact-info .question .title {
    padding-left: 20px;
  }

  #contact #footer .desc {
    margin-top: 0;
  }

  #contact #footer .desc img {
    text-align: right;
  }

  #contact #footer.bottom .container {
    display: block;
  }
}

















